@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: 'Winky Sans', 'Playfair Display', 'Segoe UI', Roboto, -apple-system, sans-serif;
    box-sizing: border-box;
}
::root{
    --mainColor: white;
    --mainColorbg: #cbd4e7;
    --headingColor:  #111827;
    --paragraphColor: #2e3238;
    --secondaryColor: #7775FF;
    
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  